@charset "utf-8";
/* ATDID giftmani KNH 110518 */



/* Layout */
html{overflow-y:scroll;scrollbar-face-color:#f4f5f5;scrollbar-shadow-color:#cccccc;scrollbar-3dlight-color:#cccccc;scrollbar-arrow-color:#333333;scrollbar-darkshadow-color:#ffffff;scrollbar-base-color:#cfcfcf;width:100%;margin:0 auto;text-align:center;height:100%;background:url(../images/admin_bg.gif) repeat-x left top}
body{width:100%;margin:0 auto;text-align:center;height:100%;background:url(../images/admin_bg.gif) repeat-x left top}




/* ¾îµå¹Î ·Î±×ÀÎÆäÀÌÁö */
#login_cus{width:100%}

.login_cus_tt{height:46px}
.login_cus_tt .logon_cus_tt00{float:left;padding-left:12px;padding-top:10px}
.login_cus_tt .logon_cus_tt01{float:right;padding-right:12px;padding-top:7px}

.login_cus_con{clear:both;margin:0 auto;text-align:center;padding-top:75px}

.login_cus_login00{width:466px;height:190px;margin:0 auto;text-align:center}
.login_cus_login00 .login_cus_log01{float:left;width:146px}

.login_cus_login00 .login_cus_log02{float:left;background:url(../images/admin_loginbg.gif) no-repeat left top;width:320px;height:190px;margin:0 auto;text-align:center}

fieldset{border:0}

.login_cus_login00 .login_cus_log02 dl{width:234px;padding-top:40px;margin:0 auto;text-align:right}
.login_cus_login00 .login_cus_log02 dl dt{width:70px;display:block;float:left;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#535353;text-align:right;margin-top:10px}
.login_cus_login00 .login_cus_log02 dl dt dd{height:21px;float:left;margin-top:5px}
.inputTypeText{padding:3px 3px 0 3px;width:135px;height:17px;border:1px solid #838383;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#838383;letter-spacing:0px;margin-top:5px;margin-right:5px}

.login_btn{margin:0 auto;text-align:center;width:234px;padding-top:30px}
.login_btn .login_btn01{margin-right:10px;#padding-top:2px;float:left;text-align:center;width:110px;height:23px;background-color:#4c4c4c;border:1px solid #000;display:table;text-decoration:none;}
.login_btn .login_btn01 a{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#fff;letter-spacing:-1px;display:table-cell;vertical-align:middle;text-decoration:none;}
.login_btn .login_btn01 a:hover,.login_btn .login_btn01 a:active,.login_btn .login_btn01 a.selected{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#fff;letter-spacing:-1px;font-weight:normal;text-decoration:none}

.login_btn .login_btn02{#padding-top:2px;float:left;text-align:center;width:110px;height:23px;background-color:#4c4c4c;border:1px solid #000;display:table;text-decoration:none;}
.login_btn .login_btn02 a{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#fff;letter-spacing:-1px;display:table-cell;vertical-align:middle;text-decoration:none;}
.login_btn .login_btn02 a:hover,.login_btn .login_btn02 a:active,.login_btn .login_btn02 a.selected{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#fff;letter-spacing:-1px;font-weight:normal;text-decoration:none}

.clickbutton{text-align:center;width:50px;padding-top:2px;margin-left:10px;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#fff;letter-spacing:-1px;cursor:pointer;border:1px solid #000;height:18px;background-color:#4c4c4c}
/*.clickbutton{display:block;zoom:1;margin-left:10px;float:left;height:16px;border:1px solid #000;display:table}
.clickbutton a{display:table-cell;vertical-align:middle;margin:0;padding:0}
.clickbutton a:hover,.clickbutton a:active,.add_comm .add_btn01 a.selected{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#fff;letter-spacing:-1px;font-weight:normal;text-decoration:none;margin:0;padding:0}
*/


/* ¾îµå¹Î ¸®½ºÆ® 01 */
.login_sub_tt{clear:both;height:23px;border-bottom:1px solid #000;background-color:#b6b6b6;padding-top:32px;text-align:center;margin:0 auto;display:block;width:100%}
.login_sub_tt00{text-align:center;margin:0 auto;display:block;width:366px;zoom:1;padding-left:20px}
.login_sub_tt .login_sub_tt01{padding-top:4px;float:left;display:block;width:100px;height:18px;border-top:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;margin-right:20px;background-color:#727272}
.login_sub_tt .login_sub_tt01 a{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:14px;color:#fff;letter-spacing:-2px;font-weight:bold;text-decoration:none}
.login_sub_tt .login_sub_tt01 a:hover{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:14px;color:#fff;letter-spacing:-2px;font-weight:bold;text-decoration:none}
.login_sub_tt .login_sub_tt02{padding-top:4px;float:left;display:block;width:100px;height:18px;border-top:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;margin-right:20px;background-color:#727272}
.login_sub_tt .login_sub_tt02 a{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:14px;color:#000;letter-spacing:-2px;font-weight:bold;text-decoration:none}
.login_sub_tt .login_sub_tt02 a:hover{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:14px;color:#fff;letter-spacing:-2px;font-weight:bold;text-decoration:none}
.login_sub_tt .login_sub_tt03{padding-top:4px;float:left;display:block;width:100px;height:18px;border-top:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;margin-right:20px;background-color:#727272}
.login_sub_tt .login_sub_tt03 a{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:14px;color:#000;letter-spacing:-2px;font-weight:bold;text-decoration:none}
.login_sub_tt .login_sub_tt03 a:hover{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:14px;color:#fff;letter-spacing:-2px;font-weight:bold;text-decoration:none}


.login_sub_list01{margin:0 auto;text-align:center;padding-top:25px}


table{width:750px;margin:0 auto;text-align:center;border-top:1px solid #acacac;border-right:0;border-left:0;border-bottom:2px solid #acacac;border-spacing:0;padding:0}
caption{text-align:center;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:16px;color:#535353;letter-spacing:-2px;font-weight:bold;text-decoration:none;zoom:1;height:30px}


th,td{border-top:1px solid #acacac;border-left:0;border-spacing:0;border-right:0;border-bottom:0;padding:0;margin:0}
thead th{height:30px;background-color:#c3c3c3;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#656565;letter-spacing:-1px;font-weight:normal;text-decoration:none;padding-right:10px}
thead th b{height:30px;background-color:#c3c3c3;font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#b21100;letter-spacing:-1px;font-weight:bold;text-decoration:none;padding-right:10px}
thead th .login_lst01{float:left;text-align:left;}
thead th .login_blank{color:#c3c3c3}
tbody td{height:30px;font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:normal;padding:0;margin:0}

tbody td .login_sv_del{padding-right:15px}
.add_comm{}
.add_comm .add_comm00{float:left;line-height:17px;font-size:12px;color:#535353;text-align:left;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-weight:normal;letter-spacing:-0.5px}
.add_comm .add_comm01{vertical-align:middle;margin-bottom:4px;margin-right:4px;margin-left:13px;#margin-left:7px;#margin-right:2px}

img{border:0}
select{width:80px;height:18px;color:#515151;font-size:12px;font-family:'µ¸¿ò',Dotum,sans-serif;letter-spacing:0px}


.admin_list_num{padding-top:15px;margin:0 auto;text-align:center}

.admin_list_num .admin_lst_lst{zoom:1;font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:normal}
.admin_list_num .admin_lst_lst a{margin-right:5px;margin-left:5px;zoom:1;font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:normal}
.admin_list_num .admin_lst_lst a:hover{zoom:1;font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#000;letter-spacing:0px;text-decoration:none;font-weight:bold}
.admin_list_num .admin_lst_lst b{zoom:1;font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#000;letter-spacing:0px;text-decoration:none;font-weight:bold}

.admin_list_num  .admin_lst_num01{zoom:1;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:normal}
.admin_list_num  .admin_lst_num01 a{zoom:1;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:normal}
.admin_list_num  .admin_lst_num01 a:hover{zoom:1;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#000;letter-spacing:0px;text-decoration:none;font-weight:bold}




.login_lst02{font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:normal;line-height:19px;text-align:left;padding:15px;/*word-break:break-all;word-break:keep-all;*/word-wrap:keep-all; /* Internet Explorer 5.5+ */ white-space:pre-wrap; /* css-3 */ white-space:-moz-pre-wrap;/* Mozilla, since 1999 */ white-space:-pre-wrap;/* Opera 4-6 */white-space: -o-pre-wrap; /* Opera 7 */}


.login_lst03{text-align:right;padding-right:10px}
.login_lst03 .login_sv_del{text-align:right;padding-right:15px;margin-left:5px}
.login_lst03 .login_sv_del img{vertical-align:top;margin-top:1px}


.login_lst_txt00{border-top:1px solid #acacac;background-color:#c3c3c3}
.login_lst_txt01{border-top:1px solid #c3c3c3}



/* ¾îµå¹Î Åë°è*/
.login_coun_tb{border:none}
.login_coun_th{zoom:1;display:block;border:none;height:15px;background-color:#cdcdcd}
.login_coun_stt{height:25px;padding-top:20px;border:none;}
.login_coun_stt .login_coun_stt00{line-height:15px;padding-left:10px;float:left;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:bold}

.login_coun_stt .login_coun_sel{float:right;margin-left:5px;margin-top:-2px}
.login_coun_stt select{vertical-align:top;zoom:1;display:block}
.login_coun_stt .login_coun_tot{margin-left:15px;float:right;font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:normal}
.login_coun_stt .login_coun_tot b{font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:bold}

.clickbutton01{font-weight:bold;text-align:center;width:150px;padding-top:2px;margin-left:10px;font-family:dotum,"µ¸¿ò",Verdana,Arial;font-size:12px;color:#4c4c4c;letter-spacing:-1px;cursor:pointer;border:1px solid #acacac;height:23px;background-color:#c3c3c3}


.login_coun_con{border:none}
.login_coun_str{text-align:center;background-color:#c3c3c3;font-family:Verdana,dotum,"µ¸¿ò",Arial;font-size:11px;color:#5b5b5b;letter-spacing:0px;text-decoration:none;font-weight:bold}

.str_td_date{width:70px}
.str_td_count{width:90px}
.str_tr{height:30px}
.str_td_mon{text-align:center;font-weight:bold}
.str_td_num{text-align:center;}
.str_td_gra{text-align:left;}
.str_td_gra img{vertical-align:middle;margin-right:5px}


span.percent {display:none;}


