
body {	
	height:100%;
	margin:0px;
	padding:0px;
	font-family:tahoma, verdana, "돋움", "굴림", "맑은 고딕";
	font-size:12px ; 
	color:#000;
	background-color:#FFFFFF;	
}


.textarea{
	font-size:12px;
	font-family:Dotum,Gulim,Verdana,sans-serif;
	COLOR: #4D4D4D; 
	line-height:15px;
	padding:3px 2px;
	border:1px solid #888888;
	vertical-align:middle;
}

checkbox{
	background-color:#FFFFFF;
	border:1px solid #888888;
}
/*
a:link {FONT-SIZE: 12px; COLOR: #808080; font-family:Dotum,Gulim,GulimChe; TEXT-DECORATION: none}
a:visited {	FONT-SIZE: 12px; COLOR: #808080; font-family:Dotum,Gulim,GulimChe; TEXT-DECORATION: none}
a:active {FONT-SIZE: 12px; COLOR: #000000; font-family:Dotum,Gulim,GulimChe; TEXT-DECORATION: none}
a:hover {FONT-SIZE: 12px; COLOR: #666666; font-family:Dotum,Gulim,GulimChe; TEXT-DECORATION: none}
*/

	

/* 로그인페이지 */
.loginBox{margin:0 auto; width:623px;height:451px;position:absolute;top:50%; left:50%; margin-left:-300px; margin-top:-250px;}
.loginBox1{margin:0 auto; width:623px;height:321px;background-image:url(../images/login_bg_t.gif); background-repeat:no-repeat;}
.loginBox2{margin:0 auto; width:623px;height:130px;background-image:url(../images/login_bg_b.gif); background-repeat:no-repeat;}
.loginUID{margin:0;width:300px;position:relative;top:260px;left:200px;text-align:right;}
.loginButton{margin:0;width:54px;height:41px;position:relative;top:215px;left:510px;}
.loginBottom{margin:0 auto; width:524px;height:55px;padding:10px; border:1px solid #ebebeb;text-align:center;padding-top:20px;}
.space{margin:0 auto; width:524px;height:10px;}
.textBox{font-size:9pt;width:100px;}
/* 로그인페이지 */


/* 공통 */
.pointer {cursor:pointer;}
img {border:0;padding:0px;}
.h10 {height:10px;}
form{margin:0 0 0 0px;}
.center{text-align : center;}
.left{text-align : left;}
a , a.active, a:hover ,a:hover{	text-decoration : none; color:#000000}
/* 헤더 */

.inputbox{
	background-color:#FFFFFF;
	font-size:12px;
	font-family:Dotum,Gulim,Verdana,sans-serif;
	COLOR: #4D4D4D; 
	padding:2px 2px;
	border:1px solid #888888;
}	

.inputbox50{
	background-color:#FFFFFF;
	font-size:12px;
	font-family:Dotum,Gulim,Verdana,sans-serif;
	COLOR: #4D4D4D; 
	padding:2px 2px;
	border:1px solid #888888;
	width:50px;
}	

.inputbox250{
	background-color:#FFFFFF;
	font-size:12px;
	font-family:Dotum,Gulim,Verdana,sans-serif;
	COLOR: #4D4D4D; 
	padding:2px 2px;
	border:1px solid #888888;
	width:250px;
}	

.selectBox{
	background-color:#FFFFFF;
	font-size:12px;
	font-family:Dotum,Gulim,Verdana,sans-serif;
	COLOR: #4D4D4D; 
	padding:2px 2px;
	border:1px solid #888888;
	width:170px;
}


.selectShopBox{
	background-color:#FFFFFF;
	font-size:12px;
	font-family:Dotum,Gulim,Verdana,sans-serif;
	COLOR: #4D4D4D; 
	padding:2px 2px;
	border:1px solid #888888;
	width:190px;
}


.clickbutton{	
	cursor:pointer;	
	border:1 solid;height:20;
	font-family:돋움;
	FONT-SIZE:9pt;
	color:black;
	background-color:#f6eded;
}

.boardlist {		
	border-collapse : collapse;
	font-family:돋움;
	font-size:8pt;
}

.boardlist th{
	font-size : 8pt;
	color : #000000;
	padding : 5px;	
	border-right : 1px solid #999;
	border-top : 1px solid #999;
	border-left : 1px solid #999;		
	background:#eee;
	height:15px;
}

td{
	border-bottom : 1px solid #999;
	border-right : 1px solid #999;
	border-top : 1px solid #999;
	border-left : 1px solid #999;	
	height:20px;
	text-align:center;
}


.boardinput {		
	border-collapse : collapse;
}

.boardinput caption{
	font-size : 9pt;
	color : #000000;
	padding : 5px;	
	border-right : 1px solid #999;
	border-top : 1px solid #999;
	border-left : 1px solid #999;		
	background:#eee;
	height:15px;
}

.boardinput th , td{
	border-bottom : 1px solid #999;
	border-right : 1px solid #999;
	border-top : 1px solid #999;
	border-left : 1px solid #999;		
}

.boardinput .title{
	background:#f6f6f6;
}

.action{
	text-align:center;
	border-bottom : 0px;
	border-left : 0px;
	border-right : 0px;
	padding-top : 5px;
}

.contentTitle {
	width:750px;
	height:25px;
	border-bottom:2px solid #7792c0;
	line-height:30px;
	margin-bottom:15px;
	font-size:10pt;
	font-family:돋움;
	font-weight:bold;
}
/* 공통 */


/* 헤더 */
#header{
	height : 90px;
	border-bottom : 1px solid #7792c0;
}

#logo{		
	float:left;
	width : 170px;	
	text-align:center;
}
#menu{
	height:90px;
	float:left;
}

#top1{
	height : 66px;
	width : 800px;
	text-align:right;	
	margin : 10px 0 0 0;
}
#top2{
	height : 14px;	
}	

#minitabs{
	margin : 0 ;
	padding : 0 0 20px 10px; ;		
}
#minitabs li {
	margin : 0 ;
	padding : 0 ;
	display : inline ;
	list-style-type : none;
}
#minitabs a {
	float : left;
	line-height : 14px;
	font-weight : bold;
	margin : 0 30px 4px 30px; 
	text-decoration : none;
	font-size : 12 px;
	color : #7792c0;
}
#minitabs a.active,#minitabs a:hover{
	border-bottom : 4px solid #7792c0;
	padding-bottom : 2px;
	color : #7792c0;
}
/*
#minitabs a:hover{
	color : #7792c0;
}
*/
/* 헤더 */

/* footer */
#footer{
	clear : left;	
	background : #eee;
	padding : 20px 20px 20px 470px;
	text-align:left;
}
/* footer */

/* content */
#content {
	float:left;
	margin-top:20px;	
	padding-left:50px;	
	margin-bottom:50px;
}
/* content */

/* 카테고리 설정 스타일*/
.categoryBox{
	float:left;
	width:200px;
	background:#EEEEEE;
	margin:4px;
	border:1px solid #000;
} 

.codeBox{	
	margin-top:20px;
	height:35px;
	width:930px;
	background:#F0F8FF;	
	border:1px solid #000;
	line-height:35px;
	text-align:center;
} 

.categoryGubun{
	width:200px;
	text-align:center;
	background:#F0F8FF;
	height:25px;
	line-height:25px;
	border-bottom:1px solid #000;
}
.categorySelectBox {
	width:180px;
	float:left;
	text-align:center;
	margin-top:5px;
}

.categoryMove{
	float:left;
	width:20px;
	height:100px;
	text-align:center;
	margin-top:100px;
}
.categorySet{
	float:left;
	width:200px;
	text-align:center;
	padding:5px;
}
/* 카테고리 설정 스타일*/

/* left */
.category{
	width:164px;
	font-size:13px;
	font-weight:bold;
	color:#3c3839;
	line-height:24px;
	background:#eee;
	display:block;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	padding:0 0 0 5px;
	margin:0px;
}

#left{
	float : left;
	width : 170px;
	line-height:35px;
}
#left1 {
	height : 50px;
	text-align : center;
	background : #7792c0;
	padding-top : 10px;
	font-weight: bold;
	color : #ffffff;
	font-size : 18px;
	font-family: 돋움,verdana;
}

#left2{
	width:169px;	
}

#left2 ul{
	margin:0;
	padding:0;
	list-style:none;
}
#left2 ul li{
	margin:0;
	padding:0 0 0 0px;	
	width:169px;
	/*vertical-align:top;	*/
	line-height:24px;
}
#left2 ul li a{
	width:164px;
	margin:0px;
	font-size:12px;
	/*font-weight:bold;*/
	color:#3c3839; /*#3c3839*/
	height:24px;
	line-height:24px;
	display:block;
	padding:0 0 0 5px;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
}
/* left */


/* 제휴사 리스트*/
.shopSort ,.companySort, .companyWhere,.topSort{
	width:798px;
	text-align:center;
	border-right:1px solid #999;
	border-top:1px solid #999;
	border-left:1px solid #999;;
	height:25px;
	line-height:25px;
	background:#f0f8ff;
}
.shopTotal,.companyTotal{
	width:798px;
	text-align:center;
	border-right:1px solid #999;
	border-top:1px solid #999;
	border-left:1px solid #999;;
	height:25px;
	line-height:25px;
}

.productListTitle {
	font-family:tahoma, verdana, "돋움", "굴림", "맑은 고딕";
	font-size:14px ; 
	color:blue;
	font-weight:bold;
}

.eeeeBg{
	background:#eeeeee;
}
.optionText{
	background:transparent;
	border:0px;
	font-size:12px;
	font-family:Dotum,Gulim,Verdana,sans-serif;
	text-align:center;
}
.p_code_list{
	color:blue;
}
.p_name_list{
	font-weight:bold;
}
.readCnt_list{
	background-color:#FFFFFF;
	font-size:12px;
	font-family:Dotum,Gulim,Verdana,sans-serif;
	COLOR: #4D4D4D; 
	padding:2px 2px;
	border:1px solid #888888;
	width:25px;
}
.clear{
	clear:both;
}
.fontblue{
	font:blue;
}