@charset "euc-kr";
/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px;line-height:20px}
img,fieldset{border:0}

/*ul,ol{list-style:none}*/
em,address{font-style:normal}
a{outline:none;select-dummy:expression(this.hideFocus=true);text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
img{border:0}
#wrap{width:100%;margin:0 auto}
#head{width:100%;margin:0 auto}
#header{width:950px;margin:0 auto}

/* Main_topmenu */
div.tgnb{float:right;text-align:right}
div.tgnb ul{margin-top:5px;list-style:none}
div.tgnb li{float:left;position:relative;font-size:11px;color:#e5422c;font-family:'돋움',Dotum,sans-serif;letter-spacing:-1px;text-decoration:none;padding:0 5px 0 0}
div.tgnb .log a{font-weight:bold;color:#e5422c;margin-left:6px;margin-right:4px}
div.tgnb .mem a{color:#5e5e5e;margin-left:7px}
div.tgnb .log{font-weight:bold;color:#e5422c;background:url(../img/gnb_dot.gif) no-repeat left 4px}
div.tgnb .mem{color:#5e5e5e;background:url(../img/gnb_dot.gif) no-repeat left 4px}
div.tgnb .cart{color:#c6c6c6}
div.tgnb .cart a{color:#5e5e5e;margin-left:6px}
div.tgnb .center{color:#c6c6c6}
div.tgnb .center a{color:#d28a00;margin-left:6px}
div.tgnb .qna{color:#c6c6c6}
div.tgnb .qna a{color:#d28a00;margin-left:6px}
div.tgnb .upload a{background:url(../img/bg_gnb.gif) no-repeat left top;padding:4px 5px 3px 5px;font-weight:bold;color:#fff}
#tpop_img{z-index:12;position:absolute;top:-5px;margin-right:200px;margin-bottom:-20px;left:-210px;}
#tpop_img a{border:0;padding:0;margin:0}
#tpop_img img{border:0;padding:0;margin:0}
#tpop_img .layer{margin-top:-88px;margin-left:-45px;z-index:16;clear:both;display:none;line-height:16px;text-align:left;padding:10px 0px 0px 13px;position:absolute;background:url(../img/tpop_bg.png) no-repeat left top;width:211px;height:85px;font-size:11px;color:#8a8a8a;font-family:'돋움',Dotum,sans-serif;letter-spacing:-1px}
#tpop_img .layer b{font-size:11px;color:#168d20;font-family:'돋움',Dotum,sans-serif;letter-spacing:-1px;line-height:16px;font-weight:normal}

/* Main_topmenu catalog */
div.tgnb01{float:right;text-align:right;margin-top:15px}
.sta01{clear:both;position:relative;margin:0 auto;text-align:center;height:55px;margin-left:13px}
.sta01 img,#search fieldset{border:none}
.sta01 legend{overflow:hidden;visibility:hidden;position:absolute;margin:0 auto}
.sta01:after{display:block;clear:both;content:''}
.sta01 h1{float:left;margin-top:3px;_position:fixed;_top:23px}
.sta01 h1 a{display:block;float:left}
.sta01 h1 a img{margin-right:50px;margin-left:13px;_margin-right:47px}
.sta01 a{color:#646464;text-decoration:none}
.sta01 .search_box{float:left;position:relative;margin-top:7px;padding-left:130px}
.sta01 .search_box .search_text{line-height:14px;padding:9px 7px 9px 7px;margin-right:5px;float:left;width:296px;height:14px;border:1px solid #fa1900;color:#000;font-size:12px;font-family:'돋움',Dotum,sans-serif;background:url(../img/bg_srch.gif) no-repeat left top}
:root .sta01 .search_box .search_text{line-height:14px;padding:4px 7px 1px 7px;width:296px;height:27px}
.sta01 .search_box .btn_search{font-size:0;zoom:1}
.sta01 h2{float:right;margin-top:-35px;margin-right:37px;_margin-top:-38px;_margin-right:17px;#margin-top:-38px}
.evnet_icon{position:absolute;left:950px;top:-18px;_left:958px;}

/* Main_logo&search */
.sta{clear:both;position:relative;margin:0 auto;text-align:center;height:45px}
.sta img,#search fieldset{border:none}
.sta legend{overflow:hidden;visibility:hidden;position:absolute;margin:0 auto}
.sta:after{display:block;clear:both;content:''}
.sta h1{float:left;margin-top:-6px;_position:fixed;_top:23px}
.sta h1 a{display:block;float:left}
.sta h1 a img{margin-right:50px;margin-left:13px;_margin-right:47px}
.sta a{color:#646464;text-decoration:none}
.sta .search_box{float:left;position:relative;margin-top:7px;padding-left:80px}
.sta .search_box .search_text{line-height:14px;padding:9px 7px 9px 7px;margin-right:5px;float:left;width:296px;height:14px;border:1px solid #fa1900;color:#000;font-size:12px;font-family:'돋움',Dotum,sans-serif;background:url(../img/bg_srch.gif) no-repeat left top}
:root .sta .search_box .search_text{line-height:14px;padding:4px 7px 1px 7px;width:296px;height:27px}
.sta .search_box .btn_search{font-size:0;zoom:1}
.sta h2{float:right;margin-top:-35px;margin-right:37px;_margin-top:-38px;_margin-right:17px;#margin-top:-38px}

/* GNB */
#gnb{width:960px;margin:0 auto;text-align:center;height:37px;margin-top:5px;z-index:20;_width:972px; background:url(../img/menu_bg.gif) repeat-x;}
#gnb .gnb{margin:0 auto;text-align:center;height:37px;z-index:21; background:url(../img/menu_bg.gif) repeat-x;}
#gnb .gnb ul li ul{z-index:16;clear:both;display:none;position:absolute;width:160px;background:#fff url(../img/smenu_arrow.gif) no-repeat center top;margin-top:-3px;padding:10px 0 10px 13px;border:solid 2px #bf1d1d;text-align:left;z-index:25}
#gnb .gnb ul li ul.selected{display:block;z-index:15}
#gnb .gnb ul li ul li{float:none;height:auto;background:url(../img/smenu_leftdot.gif) no-repeat left 8px}
#gnb .gnb ul li ul li a{display:inline;height:auto;color:#606060;font-family:'돋움',Dotum,sans-serif;font-size:12px;line-height:24px;_float:none;padding-left:10px}
#gnb .gnb ul li ul li.selected a,#gnb .gnb ul li ul li a:hover,#gnb .gnb ul li ul li.selected a.kor,#gnb .gnb ul li ul li a.kor:hover{color:#c12020;font-weight:bold;text-decoration:none;margin:0 auto}

/*메뉴 레이어 안나오게 ie 6/7 */
#gnb .gnb ul .menu01_layer{_display:none;#display:none;top:112px;position:absolute;min-width:149px;z-index:13}
#gnb .gnb ul .menu02_layer{_display:none;#display:none;top:112px;position:absolute;min-width:90px;margin-left:-43px;z-index:14}
#gnb .gnb ul .menu03_layer{_display:none;#display:none;top:112px;position:absolute;min-width:142px;margin-left:-17px;z-index:15}
#gnb .gnb ul .menu04_layer{_display:none;#display:none;top:112px;position:absolute;min-width:157px;margin-left:-10px;z-index:16}
#gnb .gnb ul .menu05_layer{_display:none;#display:none;top:112px;position:absolute;min-width:149px;margin-left:-14px;z-index:17}
#gnb .gnb ul .menu06_layer{_display:none;#display:none;top:112px;position:absolute;min-width:105px;margin-left:-36px;z-index:18}
#gnb .gnb ul .menu07_layer{_display:none;#display:none;top:112px;position:absolute;min-width:76px;margin-left:-50px;z-index:19}
#gnb .gnb ul{margin:0 auto;text-align:center;float:left;list-style:none}
#gnb .gnb ul li{float:left;height:37px}
#gnb .gnb ul li a.menu_01{padding-top:6px;position:relative;height:37px;float:left;text-align:center;background:url(../img/menu_bg.gif) repeat-x;color:#fff;font-family:'돋움',Dotum,sans-serif;font-size:14px;line-height:24px;font-weight:bold;letter-spacing:-2px}
#gnb .gnb ul li a.menu_01 span{height:37px;padding:10px 20px 0 15px;cursor:pointer;cursor:hand;background:url(../img/menu_bg.gif) repeat-x;}
:root #gnb .gnb ul li a.menu_01 span{height:37px;padding:11px 20px 0 15px;cursor:pointer;cursor:hand;background:url(../img/menu_bg.gif) repeat-x;}
#gnb .gnb ul li a.menu_01:hover{padding-top:6px;height:37px;background:url(../img/menu_over_bg.gif) no-repeat 0px 0px;color:#fff;font-family:'돋움',Dotum,sans-serif;font-size:14px;line-height:24px;font-weight:bold;letter-spacing:-2px}
#gnb .gnb ul li a.menu_01:hover span, #gnb .gnb ul li a.menu_01.selected span,#gnb .gnb ul li a.menu_01:active span{padding:10px 20px 0 15px;background:url(../img/menu_over_right.gif) no-repeat 100% 0;}
:root #gnb .gnb ul li a.menu_01:hover span,:root #gnb .gnb ul li a.menu_01.selected span,:root #gnb .gnb ul li a.menu_01:active span{padding:11px 20px 0 15px;background:url(../img/menu_over_right.gif) no-repeat 100% 0;}
#gnb .gnb .menu_08{float:left;height:37px}
#gnb .gnb .menu_08 ul{float:left;height:37px;margin:0;padding:0;display:block;list-style:none}
#gnb .gnb .menu_08 ul li a{overflow:hidden:display:block;_float:left;height:37px}
#gnb .gnb .menu_08 ul li .selected a img, #gnb .gnb .menu_08 ul li a:hover img{margin-top:-37px}

/* 메뉴 레이어 new */
.menu_layer{clear:both;top:111px;width:100%;display:block;left:0;position:absolute;z-index:50;margin:0 auto;height:auto;background:url(../img/cate_bg.gif) repeat-x left top;border-top:solid 1px #ecbaa5;border-bottom:solid 1px #ecbaa5;}
.menu_layer00{width:960px;text-align:left;background:url(../img/cate_bg.jpg) no-repeat left top;margin:0 auto;padding-top:24px;display:table;height:100%;z-index:70}
:root .menu_layer00{width:960px;text-align:left;background:url(../img/cate_bg.jpg) no-repeat left top;margin:0 auto;padding-top:23px;display:table;}
.m01_limg01{width:960px;clear:both;background:url(../img/cate_img01.png) no-repeat left bottom;height:100%;margin-left:10px;display:table;padding-bottom:0px;}
.m01_limg02{width:960px;clear:both;background:url(../img/cate_img02.png) no-repeat left bottom;height:100%;margin-left:10px;display:table}
.m01_limg03{width:960px;clear:both;background:url(../img/cate_img03.png) no-repeat left bottom;height:100%;margin-left:10px;display:table;padding-bottom:50px;}
.m01_limg04{width:960px;clear:both;background:url(../img/cate_img04.png) no-repeat left bottom;height:100%;margin-left:10px;display:table;padding-bottom:140px;}
.m01_limg05{width:960px;clear:both;background:url(../img/cate_img05.png) no-repeat left bottom;height:100%;margin-left:10px;display:table;padding-bottom:20px;}
.m01_limg06{width:960px;clear:both;background:url(../img/cate_img06.png) no-repeat left bottom;height:100%;margin-left:10px;display:table;padding-bottom:0px;}
.m01_limg07{width:960px;clear:both;background:url(../img/cate_img07.png) no-repeat left bottom;height:100%;margin-left:10px;display:table;padding-bottom:90px;}
.m01_limg08{width:960px;clear:both;background:url(../img/cate_img08.png) no-repeat left bottom;height:100%;margin-left:10px;display:table;padding-bottom:0px;}
.m01_limg09{width:960px;clear:both;background:url(../img/cate_img09.png) no-repeat left bottom;height:100%;margin-left:10px;display:table;}
.m01_lr{text-align:left;display:table;float:left;width:150px;}
.m01_lr .m01_tt{color:#fff;font-family:'돋움',Dotum,sans-serif;font-size:14px;font-weight:bold;letter-spacing:-2px;text-align:right;display:block;width:120px}
.m01_con{display:block;float:right;height:100%;width:810px;#margin-bottom:20px;margin-bottom:20px;}
.m01_con .m01_m01{float:left;margin-bottom:20px;height:auto;}
.m01_con .m01_m01 ul{list-style:none;max-height:220px;width:160px}
.m01_con .m01_m01 ul h4{margin-left:40px;_width:115px;#min-width:115px;width:120px;color:#c32222;font-family:'돋움',Dotum,sans-serif;font-size:12px;font-weight:bold;letter-spacing:-1px;margin-bottom:10px;line-height:15px;}
.m01_con .m01_m01 ul h4 a{color:#c32222;font-family:'돋움',Dotum,sans-serif;font-size:12px;font-weight:bold;letter-spacing:-1px;}
.m01_con .m01_m01 ul h4 a:hover{color:#c32222;font-family:'돋움',Dotum,sans-serif;font-size:12px;font-weight:bold;letter-spacing:-1px;}
.m01_con .m01_m01 ul li{margin-left:40px;color:#757675;font-family:'돋움',Dotum,sans-serif;font-size:11px;line-height:17px}
.m01_con .m01_m01 ul li a{color:#757675;font-family:'돋움',Dotum,sans-serif;font-size:11px}
.m01_con .m01_m01 ul li a:hover{color:#ea5500;font-family:'돋움',Dotum,sans-serif;font-size:11px;text-decoration:underline;}

/* Category */
#category{clear:both;float:right;margin:0 auto;position:relative;top:-28px;right:-75px;_margin-top:-3px;z-index:10; background:url(../img/menu_bg.gif) repeat-x;}
#category .cate_all{z-index:101}
#category .cate_list{float:left;}
#category .cate_list h2{_margin-top:-3px;_position:relative;display:block}
#category .cate_list .lst{/*width:952px*/width:955px;display:none;overflow:hidden;position:absolute;top:-9px;_top:-12px;left:-958px/*left:-955px*/;border-left:2px solid #e5422c;border-top:2px solid #e5422c;border-right:1px solid #e5422c;border-bottom:2px solid #e5422c}
#category .cate_list .lst .cate_ul01{_background-color:#fff;overflow:hidden;/*width:952px*/width:955px;list-style:none}
#category .cate_list .lst ul .cate_li01{list-style:none;/*width:135px*/float:left;background:#fff;border-right:1px solid #e5422c}
#category .cate_list .lst ul li em{overflow:hidden;/*display:block;padding:8px 0 7px 0*/background:url(../img/cate_tbg.gif) repeat-x left top;height:35px;vertical-align:middle;display:table;#display:block;#padding-top:10px;#height:25px;text-align:center;width:100%;}
#category .cate_list .lst ul li em a{font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#fff;font-weight:bold;line-height:13px;vertical-align:middle;display:table-cell}
#category .cate_list .lst ul li ul{list-style:none;/*width:135px*/font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#606060;padding:7px 0 7px 7px;height:290px;display:block}
#category .cate_list .lst ul li ul li{float:none;text-align:left;text-decoration:none;font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#606060;letter-spacing:-1px;padding:7px 0 7px 0;#padding:4px 0 4px 0;}
#category .cate_list .lst ul li ul li p{display:block;line-height:15px;font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#606060;letter-spacing:-1px}
#category .cate_list .lst ul li ul li p a{text-align:left;color:#606060;text-decoration:none;font-size:11px;font-family:'돋움',Dotum,sans-serif;}
#category .cate_list .lst ul li ul li p a:hover{color:#e41d1d;text-decoration:none;font-size:11px;font-family:'돋움',Dotum,sans-serif}
#category .cate_list .lst span{clear:both;display:block;background:#e5422c}
#category .cate_list .lst span.cbtn{text-align:right;padding-top:4px}
#category .cate_list .lst span.cbtn a{color:#fff;text-decoration:none;font-size:11px;font-family:'돋움',Dotum,sans-serif;font-weight:bold;margin:4px 7px 0 2px}

/* body */
#container{clear:both;margin:0 auto;width:950px}
#container:after{display:block;clear:both;content:''}

/* 메인 왼쪽 메뉴 */
#snb{float:left;width:200px;margin-right:10px;margin-top:-12px}
#snb{#margin-top:6px}/*ie7*/
#snb{_position:relative;_top:-18px}/*ie6*/
#snb .best_cate{width:200px}
#snb .best_cate h2 img{display:block;vertical-align:top;line-height:0}
#snb .best_tt{border:1px solid #d2d2d2;width:198px;height:239px;_margin-bottom:-1px}
#snb .best_list{}
#snb .best_list ul{border-bottom:1px solid #d2d2d2;float:left;text-align:center;list-style:none}
#snb .best_list h5{padding-top:13px;background:#f7f8f8;text-align:center;float:left;border-right:1px solid #d2d2d2;height:26px;width:68px;margin:0 auto;text-align:center;line-height:15px;font-size:12px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c;font-weight:bold;letter-spacing:-1.5px}
#snb .best_list h5 a{margin:0 auto;text-align:center;line-height:15px;font-size:12px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c;font-weight:bold;letter-spacing:-1.5px}
#snb .best_list h5 a:hover{margin:0 auto;text-align:center;line-height:15px;font-size:12px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c;font-weight:bold;letter-spacing:-1.5px}
#snb .best_list ul li{letter-spacing:-1px;padding-top:5px;float:left;width:109px;height:34px;padding-left:10px;padding-right:10px;text-align:left;line-height:15px;font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c}
#snb .best_list ul li p{text-align:left;line-height:15px;font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c}
#snb .best_list ul li p a{text-align:left;line-height:15px;font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c}
#snb .best_list ul li p a:hover{text-align:left;line-height:15px;font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c}

/*메인 왼쪽메뉴 키워드*/
#snb .keword{}
#snb .keword h2{}
#snb .keword h2 img{margin-top:8px}
#snb .keword .keword_box{width:198px;height:122px;border-right:1px solid #d2d2d2;border-left:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;background:#fff}
#snb .keword .keword_box .box{height:101px;border-right:1px solid #fff;border-left:1px solid #fff;border-bottom:1px solid #fff;background:#f3f3f3;padding:10px 8px 10px 8px;}
:root #snb .keword .keword_box .box{height:101px;border-right:1px solid #fff;border-left:1px solid #fff;border-bottom:1px solid #fff;background:#f3f3f3;padding:10px 7px 10px 7px}
#snb .keword .keword_box .box span{line-height:25px;font-family:'돋움',Dotum,sans-serif;letter-spacing:-1px;margin-right:5px}
#snb .keword .keword_box .box .txt01 a{font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c}
#snb .keword .keword_box .box .txt01 a:hover{font-size:15px;font-family:'돋움',Dotum,sans-serif;color:#000}
#snb .keword .keword_box .box .txt02 a{font-weight:bold;font-size:13px;font-family:'돋움',Dotum,sans-serif;color:#e54430}
#snb .keword .keword_box .box .txt02 a:hover{font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c}
#snb .keword .keword_box .box .txt03 a{font-size:14px;font-family:'돋움',Dotum,sans-serif;color:#000}
#snb .keword .keword_box .box .txt03 a:hover{font-weight:bold;font-size:13px;font-family:'돋움',Dotum,sans-serif}
#snb .keword .keword_box .box .txt04 a{font-weight:bold;font-size:13px;font-family:'돋움',Dotum,sans-serif;color:#5f5f5f}
#snb .keword .keword_box .box .txt04 a:hover{font-weight:bold;font-size:14px;font-family:'돋움',Dotum,sans-serif;color:#fff;background:#ff7618}
#snb .keword .keword_box .box .txt05 a{font-weight:bold;font-size:14px;font-family:'돋움',Dotum,sans-serif;color:#fff;background:#ff7618}
#snb .keword .keword_box .box .txt05 a:hover{font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c}
#snb .keword .keword_box .box .txt06 a{font-weight:bold;font-size:15px;font-family:'돋움',Dotum,sans-serif;color:#fff;background:#e54430}
#snb .keword .keword_box .box .txt06 a:hover{font-weight:bold;font-size:14px;font-family:'돋움',Dotum,sans-serif;color:#5f5f5f}
#snb .keword .keword_box .box .txt00 a{font-weight:bold;font-size:12px;font-family:'돋움',Dotum,sans-serif;color:#e54430}
#snb .keword .keword_box .box .txt00 a:hover{font-size:11px;font-family:'돋움',Dotum,sans-serif;color:#8c8c8c}

/*메인 왼쪽메뉴 배너*/
#snb .left_banner{clear:both;margin-top:8px;background:#ebebeb;padding:5px 5px 3px 5px;position:relative}
#snb .left_banner li{border:1px solid #a3a3a3;margin-bottom:2px;list-style:none}
#snb .left_banner li img{display:block;vertical-align:top;line-height:0}

/* 고객센터 */
#cm_ct{clear:both;margin-top:10px;border-top:1px solid #ddd;height:227px}
.sp_ntc{float:left;width:316px;_width:314px}
.sp_ntt{text-align:left;padding-top:12px;padding-bottom:2px;_margin-bottom:7px}
.sp_nt_tt{padding-left:33px}
.sp_nt_plus{float:right;padding-right:30px;padding-top:2px;#margin-top:-20px;_margin-top:-16px}
.sp_noti{text-align:left;margin-left:34px;margin-bottom:7px}
.sp_nt_text{height:19px}
.sp_ntdot{margin-right:7px;vertical-align:top}
.sp_ntdot img{vertical-align:middle}
.sp_text{color:#757575;text-decoration:none;font-size:12px;font-family:'돋움',Dotum,sans-serif;letter-spacing:-0.5px}
.sp_text a{color:#757575;text-decoration:none;font-size:12px;font-family:'돋움',Dotum,sans-serif;letter-spacing:-0.5px}
.sp_text a:hover{color:#757575;text-decoration:underline;font-size:12px;font-family:'돋움',Dotum,sans-serif;letter-spacing:-0.5px}
.sp_cash{width:248px;height:93px;border:1px solid #6266af;margin:0 auto;}
.sp_cashtt{background-color:#6266af;float:left;width:58px;height:55px;padding-top:38px;padding-right:3px;padding-left:3px}
.sp_cashnum{float:left;text-align:right;padding-top:2px;padding-left:5px}
.sp_cachtext{padding-top:5px;color:#6266af;text-decoration:none;font-size:12px;font-family:'돋움',Dotum,sans-serif;letter-spacing:-1px}
.sp_gid{text-align:left;float:left;width:318px;background:url(../img/sp_bg02.gif) no-repeat top left}
.sp_gtt{text-align:left;padding-top:12px;padding-bottom:2px;_margin-bottom:7px}
.sp_gt_tt{padding-left:34px}
.sp_gt_text{width:318px}
.sp_gt_text ul{margin-left:34px;text-align:center;list-style:none}
.sp_txt{}
.sp_gt_text ul li{border:1px solid #6266af;width:121px;height:19px;padding-top:4px;float:left;margin-bottom:4px;margin-right:4px;#padding-top:3px;#height:21px;_padding-top:5px;_height:19px}
.sp_gt_tt00{text-align:left;width:254px;#margin-top:4px;_margin-top:4px}
.sp_gt_text00{float:left;margin-left:34px;background:url(../img/sp_bbg01.gif) no-repeat 120px 11px;border:1px solid #6266af;width:248px;height:35px;margin-right:2px;padding-top:14px;text-align:left;_display:inline}
.sp_txt01{width:120px;height:48px;text-align:left}
.sp_txt01 img{margin-left:13px;margin-top:3px;text-align:left}
.sp_txt02{float:right;padding-right:32px;_margin-top:-10px;#margin-top:-20px}
.sp_txt02 a{color:#fff;text-decoration:none;font-size:11px;font-family:'돋움',Dotum,sans-serif;line-height:21px;font-weight:bold;letter-spacing:-1px}
.sp_ct{float:left;width:316px;_width:314px;margin:0 auto;text-align:center}
.sp_ctt{text-align:left;padding-top:12px;padding-bottom:2px;_margin-bottom:7px}
.sp_ct_tt{padding-left:33px}
.sp_ct_txt{width:208px;height:42px;border:1px solid #6266af;margin:0 auto;text-align:center;padding-top:6px}
.sp_ct_txt01{margin-top:8px;margin-bottom:7px}
.sp_ct_txt02{border-top:1px solid #6266af;width:210px;padding-top:7px;margin:0 auto;text-align:center}

/* 배너 */
.f_banner{width:950px;border-top:1px solid #ddd;height:38px}
.f_b_law{float:left;padding-top:15px;padding-left:10px;padding-right:10px}
#point-ranking-container{float:left;position:relative;width:900px;height:38px;overflow:hidden}
#point-ranking-container ul{display:inline}
#point-ranking-container ul li{float:left;padding-top:7px;margin-right:2px;margin-left:1px}
.f_b_raw{float:right;padding-left:10px;padding-right:10px;padding-top:15px}
#footer{clear:both;background:url(../img/f_ttbg.gif) repeat-x top left;width:100%;margin:0 auto;text-align:center;}
.f_menu{height:33px;width:950px;margin:0 auto;text-align:center;padding-top:9px}
.f_mu_left{float:left;padding-left:15px}
.f_mu_right{float:right;padding-right:15px}
.f_mu_right .f_dot{margin-left:10px}
.f_copy{width:950px;margin:0 auto;text-align:center}
.f_logo{float:left;padding-left:17px;padding-top:29px}
.f_cp{padding-top:7px;padding-left:58px;float:left;font-size:11px;color:#878787;text-align:left;font-family:Dotum,'돋움',sans-serif;letter-spacing:-0.3px;line-height:17px}
.f_cp a{padding:3px 10px 3px 9px;background:url(../img/f_txtbg.gif) no-repeat top left;width:108px;height:16px;font-size:11px;color:#fff;text-align:left;font-family:Dotum,'돋움',sans-serif;letter-spacing:-1px;line-height:17px}
.f_allat{clear:both;text-align:center;margin:0 auto;padding-top:10px;padding-bottom:5px;margin-left:100px}
.f_allat a img{}

/*quick*/
.quick{position:relative;z-index:11;float:left;width:960px;_position:absolute;}
.quick_menu{position:absolute;top:0px;width:75px;float:right;left:960px}
.qk_top{}
.qk_top .qk_top01{}
.qk_top .qk_top02{padding-top:3px;display:block;}
.qk_line{padding-right:1px}
.qk_today{border:3px solid #e8e8e8;background-color:#e8e8e8;padding-bottom:5px;display:block}
.qk_txt{border:1px solid #fff;background-color:#d2d2d2;font-size:11px;color:#646464;font-family:Dotum,'돋움',sans-serif;letter-spacing:-1.5px;height:20px;padding-top:6px;margin-bottom:2px;display:block}
.qk_today ul{list-style:none;border:1px solid #c5c5c5;background-color:#fff;margin-bottom:5px;display:block}
.qk_today ul li{margin-bottom:4px;display:block}
.qk_today ul li a img{border:1px solid #c5c5c5}
.qk_tsimg{position:absolute;top:237px;left:34px}
.qk_ty{}
.qk_list{font-size:11px;color:#878787;font-family:Dotum,'돋움',sans-serif;letter-spacing:-1px}
.qk_list a{border-color:#fff}
.qk_today .qk_list a img{border:0px;vertical-align:middle;margin-bottom:2px}
.qk_list span{font-size:11px;color:#878787;font-family:Dotum,'돋움',sans-serif;letter-spacing:-1px;margin-bottom:3px;line-height:15px}
.qk_top{}
.qk_top a img{}

/*서브 왼쪽메뉴 상품검색*/
#snb .left_search{border:1px solid #dfdede;margin-top:8px}
#snb .left_sh01{}
#snb .left_sh02{height:26px;background:url(../img/left_search_bg.gif) no-repeat top left;padding-top:6px;color:#000;font-size:11px;font-family:verdana,'돋움',Dotum,sans-serif;line-height:15px}
#snb .left_sh02 .left_search01{width:60px;border:1px solid #ccc;padding:2px;color:#000;font-size:11px;font-family:verdana,'돋움',Dotum,sans-serif;height:12px;vertical-align:top}
#snb .left_sh02 a img{vertical-align:top;margin-top:2px}
#snb .left_sbanner{margin-top:8px}
#snb .left_best{margin-top:8px}
#snb .left_bt01{}
#snb .left_bt02{background:url(../img/left_best_bg.gif) repeat-y top left;text-align:center;margin:0 auto}
#snb .left_bt02 ul{text-align:center;width:180px;margin:0 auto;margin-bottom:-5px;display:block}
#snb .left_bt02 ul li{list-style:none;text-align:center;border-bottom:1px solid #bcbcbc;height:59px;padding-top:9px;display:block}
#snb .left_bt02 .left_bt_list{margin-right:7px;float:left;padding-left:4px;width:55px;height:55px;display:table-cell}
#snb .left_bt02 .left_bt_list p{vertical-align:middle;display:table-cell;_position:relative;#position:relative;width:55px;height:55px}
#snb .left_bt02 .left_bt_list a{margin-right:8px;vertical-align:middle;_position:absolute;_left:50%;_top:50%;_display:inline-block;#position:absolute;#left:50%;#top:50%;#display:inline-block;}
#snb .left_bt02 .left_bt_list img{margin-right:8px;vertical-align:middle;_position:relative;_left:-50%;_top:-50%;#position:relative;#left:-50%;#top:-50%}
#snb .left_bt02 .left_bt00{display:block;padding-top:6px}
#snb .left_bt02 .left_bt00 .img_tt{display:block;text-align:left;height:30px;vertical-align:middle;letter-spacing:-0.3px}
#snb .left_bt02 .left_bt00 .img_tt a{color:#6f6f6f;text-decoration:none;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:15px;letter-spacing:-0.3px}
#snb .left_bt02 .left_bt00 .img_tt a:hover{color:#6f6f6f;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:15px;text-decoration:underline;letter-spacing:-0.3px}
#snb .left_bt02 .left_bt00 .img_text{padding-top:3px;display:block;text-align:left;color:#6f6f6f;text-decoration:none;font-size:11px;font-family:'돋움',Dotum,sans-serif;line-height:15px;letter-spacing:-0.3px}
#snb .left_bt02 .left_bt00 .img_text img{margin-right:1px;vertical-align:middle;margin-bottom:2px}
#snb .left_bt03{}
#snb .left_center{display:block;border:1px solid #5c62a0;margin-top:8px;margin-bottom:8px;width:198px}
#snb .left_ct01{display:block;width:198px}
#snb .left_ct01 .left_ct_01{display:block}
#snb .left_ct01 .left_ct_02{padding-top:7px;height:26px;display:block;margin:0 2px 0 2px;background-color:#e6e7f0}
#snb .left_ct01 .left_ct_02 img{padding-bottom:6px;border-bottom:1px solid #adb0cf}
#snb .left_ct01 .left_ct_03{height:50px;display:block;margin:0px 2px 2px 2px;background-color:#e6e7f0}
#snb .left_ct02{display:block;border-top:1px solid #5c62a0;width:198px}
#snb .left_ct02 .left_ct_04{display:block;padding-top:3px}
#snb .left_ct02 .left_ct_05{display:block;margin:7px 2px 2px 2px;height:32px;background-color:#e6e7f0;padding-top:8px}

/* 마이페이지 왼쪽메뉴 */
.left_mypage01{width:200px;margin-bottom:6px}
.left_my_t01{}
.left_my_t02{background:url(../img/my_ltbg.gif) no-repeat top left;width:200px;height:63px}
.left_my_t02 .left_my_s01{width:181px;display:block;margin:0 auto;text-align:center;color:#555;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;border-bottom:1px solid #c73624;padding-bottom:4px}
.left_my_t02 .left_my_s02{height:27px;padding-right:6px;padding-left:14px;width:161px;display:block;margin:0 auto;text-align:left;border-top:1px solid #f58375;border-bottom:1px solid #c73624;color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
.left_my_t02 .left_my_s03{height:27px;padding-right:6px;padding-left:14px;width:161px;display:block;margin:0 auto;text-align:left;border-top:1px solid #f58375;color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
.left_my_t02 .left_my_s02 .left_my_ss01{#float:left}
.left_my_t02 .left_my_s02 .left_my_ss02{#float:left;padding-left:23px}
.left_my_t02 .left_my_s02 .left_my_ss03{float:right;padding-top:4px;height:23px}
.left_my_t02 .left_my_s02 .left_my_ss03 img{vertical-align:middle}
.left_my_t02 .left_my_s03 .left_my_ss01{#clear:both;#float:left}
.left_my_t02 .left_my_s03 .left_my_ss04{float:right;display:inline;height:27px}
.left_my_t02 .left_my_s03 .left_my_ss04 a{color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
.left_my_t02 .left_my_s03 .left_my_ss04 a:hover{color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold;text-decoration:underline}
.left_my_t03{clear:both;_margin-top:-6px;}
.left_mypage02{}
.left_my_t04{}
.left_my_t05{background:url(../img/my_lmbg01.gif) no-repeat bottom left;width:200px;text-align:left;margin:0 auto}
.left_my_t05 .left_my_s04{padding-left:7px;width:171px;margin:0 auto;border-bottom:1px solid #e9e9e9;display:block;height:29px;color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
/* ie6 */.left_my_t05 .left_my_s04{_padding-top:9px;_height:20px}
.left_my_t05 .left_my_s04 a{color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
.left_my_t05 .left_my_s04 a:hover{color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold;text-decoration:underline}
.left_my_t05 .left_my_s04 img{margin-right:6px}
.left_my_t05 .left_my_s05{padding-bottom:6px;padding-left:7px;width:171px;margin:0 auto;display:block;height:29px;color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
/* ie6 */.left_my_t05 .left_my_s05{_padding-top:9px;_height:20px}
.left_my_t05 .left_my_s05 a{color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
.left_my_t05 .left_my_s05 a:hover{color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold;text-decoration:underline}
.left_my_t05 .left_my_s05 img{margin-right:6px}
.left_mypage03{}
.left_my_t06{}
.left_my_t07{background:url(../img/my_lmbg02.gif) no-repeat top left;width:200px;text-align:left;margin:0 auto}
.left_my_t07 .left_my_s04{padding-left:7px;width:171px;margin:0 auto;border-bottom:1px solid #e9e9e9;display:block;height:29px;color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
/* ie6 */.left_my_t07 .left_my_s04{_padding-top:9px;_height:20px}
.left_my_t07 .left_my_s04 a{color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
.left_my_t07 .left_my_s04 a:hover{color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold;text-decoration:underline}
.left_my_t07 .left_my_s04 img{margin-right:6px}
.left_my_t07 .left_my_s05{padding-left:7px;width:171px;margin:0 auto;display:block;height:29px;color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
/* ie6 */.left_my_t07 .left_my_s05{_padding-top:9px;_height:20px}
.left_my_t07 .left_my_s05 a{color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold}
.left_my_t07 .left_my_s05 a:hover{color:#666;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:30px;letter-spacing:-0.3px;font-weight:bold;text-decoration:underline}
.left_my_t07 .left_my_s05 img{margin-right:6px}

/* 고객센터 왼쪽메뉴 */
.left_board01{width:200px;margin-bottom:6px}
.left_board_t01{}
.left_board_t02{width:200px;display:block}
.left_board_t02 .left_bd_mu01 a{_margin-bottom:-2px;display:block;background:url(../img/board_left_mbg01.gif) no-repeat top left;width:200px;height:36px;color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:38px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu01 a:hover{display:block;background:url(../img/board_left_mbg10.gif) no-repeat top left;#width:173px;width:200px;height:36px;color:#fe3f06;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:38px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu02 a{_margin-bottom:-1px;display:block;background:url(../img/board_left_mbg02.gif) no-repeat top left;width:200px;height:35px;color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu02 a:hover{display:block;background:url(../img/board_left_mbg20.gif) no-repeat top left;width:200px;height:35px;color:#fe3f06;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu03 a{_margin-bottom:-1px;display:block;background:url(../img/board_left_mbg03.gif) no-repeat top left;width:200px;height:35px;color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu03 a:hover{display:block;background:url(../img/board_left_mbg30.gif) no-repeat top left;width:200px;height:35px;color:#fe3f06;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu04 a{_margin-bottom:-1px;display:block;background:url(../img/board_left_mbg04.gif) no-repeat top left;width:200px;height:35px;color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu04 a:hover{display:block;background:url(../img/board_left_mbg40.gif) no-repeat top left;width:200px;height:35px;color:#fe3f06;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu05 a{_margin-bottom:-1px;display:block;background:url(../img/board_left_mbg05.gif) no-repeat top left;width:200px;height:35px;color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu05 a:hover{display:block;background:url(../img/board_left_mbg50.gif) no-repeat top left;width:200px;height:35px;color:#fe3f06;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu06 a{display:block;background:url(../img/board_left_mbg06.gif) no-repeat top left;width:200px;height:33px;color:#fff;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t02 .left_bd_mu06 a:hover{display:block;background:url(../img/board_left_mbg60.gif) no-repeat top left;width:200px;height:33px;color:#fe3f06;font-size:12px;font-family:'돋움',Dotum,sans-serif;line-height:36px;letter-spacing:-0.3px;font-weight:bold;text-align:left;padding-left:27px;#width:173px}
.left_board_t03{clear:both;_margin-top:-6px;}

/* brand left */
#snb .brand_cate{width:200px}
#snb .brand_cate h2 img{display:block;vertical-align:top;line-height:0}
#snb .brand_tt{border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;width:198px;background-color:#f9fafa}
#snb .brand_list{}
#snb .brand_list ul{text-align:center;list-style:none;padding-bottom:8px;}
#snb .brand_list ul h5{text-align:center;list-style:none;padding-top:7px;padding-bottom:4px;border-top:1px solid #e1e1e1}
#snb .brand_list ul li{height:49px;width:183px;margin:0 auto;background-color:#fff;border-top:1px dashed #d2d2d2}
.brand_sel{padding-top:1px;vertical-align:middle;height:18px;font-size:12px;width:183px;background-color:#EDEDED;border:1px solid #4f71a1;font-family:"돋움",dotum,verdana;font-size:12px;color:#00327e;margin-bottom:2px}
